/* #TileBox {
  background-color:#607D8B;  
  width: 550px;
  height: 450px; 
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  color: black;
  position: relative;
	font-size: 0;
	margin:auto;
	padding: 0;
} */
.Tile {
	padding:0;
  background-color: rgb(200, 255, 0);
  height: 49px;
  width: 49px;
  margin:0;
  float: left;
  border-style: solid;
  border-width: 1px;  
  position: relative;
}































/*
.TileBoxSmall {
  background-color:CustomColour; 
  padding: 5px;
  width: 80px;
  height: 80px;
}
.TileBoxMedium {
  background-color:CustomColour; 
  padding: 5px;
  width: 110px;
  height: 110px;
}
.TileBoxBig {
  background-color:CustomColour; 
  padding: 5px;
  width: 180px;
  height: 180px;
}
  div[data-size="Small"]{
  width: 80px;
  height: 80px;
} */