#container {
	position: relative;
	margin:auto;
	height:800px;
	width:800px;
}
.grid{
	/* content: var(--content , "test"); */
	outline:5px solid white;
	/* border-radius: 10px; */
	margin:0;
	padding:0;
	border:none;
    background-color: #212121;  
	display:inline-block;
}
.grid ::before{
	/* content: "displaycontent"; */
	color: red;
	content: attr(--data-name);
}
.input{
    width: 15%;
    background-color: #757575;
    font-size: 18px;
    border: 3px;
    height: 4%;
	border-radius: 5px;
	color: white;
}
html {
    font-family: 'Arial';
}
.startBtn{
	background-color: #4b4b4b;
	border-radius: 10px;
	color: white;
}